{% extends "user/layoutadmin.html.twig" %}
{% block fos_user_content %}
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('template/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('template/bower_components/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('template/bower_components/Ionicons/css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('template/dist/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('template/dist/css/skins/_all-skins.min.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    {% endblock %}
    <div class="col-md-6">
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title text-info">Ajouter Formateur</h3>
        <a class='btn btn-info btn-xs pull-right' href="{{ path('formateur_index') }}"><i class="glyphicon glyphicon-remove "></i></a>
    </div>

         <div class="box-body">
            {{ form_start(form,{'attr':{'novalidate':'novalidate'}})}}

             <!-- le champ nom-->
               {% set class='' %}
               {% if not form.nomFormateur.vars.valid %}
                 {% set class="has-error" %}
               {% endif %}

             <div class="form-group {{class}} row" >
                 <div class="col-sm-10">
                 <label class="control-label" for="{{form.nomFormateur.vars.id}}">Nom</label>
                 <input type="text" class="form-control" id="{{form.nomFormateur.vars.id}}" name="{{ form.nomFormateur.vars.full_name}}" value="{{ form.nomFormateur.vars.value}}" placeholder="Entrer le nom"/>

                {% do form.nomFormateur.setRendered %}
                {% if not form.nomFormateur.vars.valid %}
                  {% for error in form.nomFormateur.vars.errors %}
                    <span class="help-block">{{ error.message }}</span>
                  {% endfor %}
                {% endif%}
                </div>
             </div>
             <!-- le champ prénom-->
             {% set class='' %}
             {% if not form.prenomFormateur.vars.valid %}
                 {% set class="has-error" %}
             {% endif %}
             <div class="form-group {{class}} row" >
                 <div class="col-sm-10">
                 <label class="control-label" for="{{form.prenomFormateur.vars.id}}">Prénom</label>

                     <input type="text" class="form-control" id="{{form.prenomFormateur.vars.id}}" name="{{ form.prenomFormateur.vars.full_name}}" value="{{ form.prenomFormateur.vars.value}}" placeholder="Entrer le prénom">

                 {% do form.prenomFormateur.setRendered %}
                 {% if not form.prenomFormateur.vars.valid %}
                     {% for error in form.prenomFormateur.vars.errors %}
                         <span class="help-block">{{ error.message }}</span>
                     {% endfor %}
                 {% endif %}
             </div>
             </div>

             <!-- le champ CIN-->
             {% set class='' %}
             {% if not form.cINFormateur.vars.valid %}
                 {% set class="has-error" %}
             {% endif %}
             <div class="form-group {{class}} row" >
                 <div class="col-sm-10">
                 <label class=" control-label" for="{{form.cINFormateur.vars.id}}">CIN</label>

                     <input type="text" class="form-control" id="{{form.cINFormateur.vars.id}}" name="{{ form.cINFormateur.vars.full_name}}" value="{{ form.cINFormateur.vars.value}}" placeholder="Entrer le CIN">

                 {% do form.cINFormateur.setRendered %}
                 {% if not form.cINFormateur.vars.valid %}
                     {% for error in form.cINFormateur.vars.errors %}
                         <span class="help-block">{{ error.message }}</span>
                     {% endfor %}
                 {% endif %}
             </div>
             </div>
             <!-- le champ Email-->
             {% set class='' %}
             {% if not form.emailFormateur.vars.valid %}
                 {% set class="has-error" %}
             {% endif %}
             <div class="form-group {{class}} row" >
                 <div class="col-sm-10">
                 <label class=" control-label" for="{{form.emailFormateur.vars.id}}">Email</label>

                     <input type="text" class="form-control" id="{{form.emailFormateur.vars.id}}" name="{{ form.emailFormateur.vars.full_name}}" value="{{ form.emailFormateur.vars.value}}" placeholder="p-email@email.com">

                 {% do form.emailFormateur.setRendered %}
                 {% if not form.emailFormateur.vars.valid %}
                     {% for error in form.emailFormateur.vars.errors %}
                         <span class="help-block">{{ error.message }}</span>
                     {% endfor %}
                 {% endif %}
             </div>
             </div>
             <!-- le champ Domaine d'expertise-->
             {% set class='' %}
             {% if not form.descriptionFormateur.vars.valid %}
                 {% set class="has-error" %}
             {% endif %}
             <div class="form-group {{class}} row" >
                 <div class="col-sm-10">
                 <label class="control-label" for="{{form.descriptionFormateur.vars.id}}">Domaine d'expertise</label>
                     <input type="text" class="form-control" id="{{form.descriptionFormateur.vars.id}}" name="{{ form.descriptionFormateur.vars.full_name}}" value="{{ form.descriptionFormateur.vars.value}}" placeholder="Entrer le domaine d'expertise">
                 {% do form.descriptionFormateur.setRendered %}
                 {% if not form.descriptionFormateur.vars.valid %}
                     {% for error in form.descriptionFormateur.vars.errors %}
                         <span class="help-block">{{ error.message }}</span>
                     {% endfor %}
                 {% endif %}
             </div>
             </div>
             <div class="col-1-offset-0">
             <!-- le champ téléphone-->
             {% set class='' %}
             {% if not form.telFormateur.vars.valid %}
                 {% set class="has-error" %}
             {% endif %}
             <div class="form-group {{class}} row" >
                 <div class="col-sm-10">
                 <label class="control-label" for="{{form.telFormateur.vars.id}}">Téléphone</label>
                     <input type="text" class="form-control" id="{{form.telFormateur.vars.id}}" name="{{ form.telFormateur.vars.full_name}}" value="{{ form.telFormateur.vars.value}}" placeholder="+21600000000">
                 {% do form.telFormateur.setRendered %}
                 {% if not form.telFormateur.vars.valid %}
                     {% for error in form.telFormateur.vars.errors %}
                         <span class="help-block">{{ error.message }}</span>
                     {% endfor %}
                 {% endif %}
             </div>
             </div>
             <!-- le champ facebook-->
             {% set class='' %}
             {% if not form.fbFormateur.vars.valid %}
                 {% set class="has-error" %}
             {% endif %}
             <div class="form-group {{class}} row" >
                 <div class="col-sm-10">
                 <label class=" control-label" for="{{form.fbFormateur.vars.id}}">Facebook</label>
                     <input type="text" class="form-control" id="{{form.fbFormateur.vars.id}}" name="{{ form.fbFormateur.vars.full_name}}" value="{{ form.fbFormateur.vars.value}}" placeholder="https://facebook.com/utilisateur">
                 {% do form.fbFormateur.setRendered %}
                 {% if not form.fbFormateur.vars.valid %}
                     {% for error in form.fbFormateur.vars.errors %}
                         <span class="help-block">{{ error.message }}</span>
                     {% endfor %}
                 {% endif %}
             </div>
             </div>
             <!-- le champ linkedin-->
             {% set class='' %}
             {% if not form.linkFormateur.vars.valid %}
                 {% set class="has-error" %}
             {% endif %}
             <div class="form-group {{class}} row" >
                 <div class="col-sm-10">
                 <label class="control-label" for="{{form.linkFormateur.vars.id}}">Linkedin</label>
                     <input type="text" class="form-control" id="{{form.linkFormateur.vars.id}}" name="{{ form.linkFormateur.vars.full_name}}" value="{{ form.linkFormateur.vars.value}}" placeholder="https://linkedin.com/utilisateur">
                 {% do form.linkFormateur.setRendered %}
                 {% if not form.linkFormateur.vars.valid %}
                     {% for error in form.linkFormateur.vars.errors %}
                         <span class="help-block">{{ error.message }}</span>
                     {% endfor %}
                 {% endif %}
             </div>
             </div>
             <!-- le champ Image-->
             {% set class='' %}
             {% if not form.file.vars.valid %}
                 {% set class="has-error" %}
             {% endif %}
             <div class="form-group {{class}} row" >
                 <div class="col-sm-10">
                 <label class="control-label" for="{{form.file.vars.id}}">Image</label>
                     <input type="file" class="form-control" id="{{form.file.vars.id}}" name="{{ form.file.vars.full_name}}" value="{{ form.file.vars.value}}">
                 {% do form.file.setRendered %}
                 {% if not form.file.vars.valid %}
                     {% for error in form.file.vars.errors %}
                         <span class="help-block">{{ error.message }}</span>
                     {% endfor %}
                 {% endif %}
             </div>
             </div>
             <!-- le champ CV-->
             {% set class='' %}
             {% if not form.cvformateur.vars.valid %}
                 {% set class="has-error" %}
             {% endif %}
             <div class="form-group {{class}} row" >
                 <div class="col-sm-10">
                 <label class="control-label" for="{{form.cvformateur.vars.id}}">Pièce jointe</label>
                     <input type="file" class="form-control" id="{{form.cvformateur.vars.id}}" name="{{ form.cvformateur.vars.full_name}}" value="{{ form.cvformateur.vars.value}}">
                 {% do form.cvformateur.setRendered %}
                 {% if not form.cvformateur.vars.valid %}
                     {% for error in form.cvformateur.vars.errors %}
                         <span class="help-block">{{ error.message }}</span>
                     {% endfor %}
                 {% endif %}
             </div>
             </div>
         </div>

        <div class="box-footer">
                 <input class="btn btn-primary btn-md" type="submit" value="Ajouter" />
                 <a  class='btn btn-warning btn-md' href="{{ path('formateur_index')  }}"> Annuler</a>
                 {{ form_end(form) }}
        </div>
    </div>
    </div>

      <!--  <script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js')}}"></script>-->
        <!-- Bootstrap 3.3.7 -->
    <!-- <script src="{{ asset('template/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>-->
        <!-- FastClick -->
    <!-- <script src="{{ asset('template/bower_components/fastclick/lib/fastclick.js')}}"></script>-->
        <!-- AdminLTE App -->
    <!-- <script src="{{ asset('template/dist/js/adminlte.min.js')}}"></script>-->
        <!-- AdminLTE for demo purposes -->
    <!--  <script src="{{ asset('template/dist/js/demo.js')}}"></script> -->

{% endblock %}