{% trans_default_domain 'FOSUserBundle' %}
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Changer mot de passe</h3>
                </div>
                <!-- form start -->
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                <div class="box-body">
                    <div class="form-group">
                        <label for="password">{{ form_row(form.current_password, {'attr':{'class':'form-control'}}) }}</label>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="password">{{ form_row(form.plainPassword.first, {'attr':{'class':'form-control'}}) }}</label>

                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="password">{{ form_row(form.plainPassword.second, {'attr':{'class':'form-control'}}) }}</label>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">

                        <input  class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{{ form_end(form) }}
