<div id="menu">
    <ul class="sidebar-menu" data-widget="tree">
        <!-- menu tableau de bord -->
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Tableau de bord</span>
            </a>
        </li>

        <!--menu formateur-->
        <li class="treeview">
            <a href="">
                <i class="fa fa-user"></i> <span>Formateur</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ path('formateur_index') }}"><i class="fa fa-circle-o text-aqua"></i> Lister formateurs</a></li>

            </ul>
        </li>
        <!--/menu formateur -->
        <!--menu service-->
        <li class="treeview">
            <a href="">
                <i class="fa fa-folder"></i> <span>Service</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ path('service_index') }}"><i class="fa fa-circle-o text-aqua"></i> Lister les services</a></li>

            </ul>
        </li>
        <!--/menu service -->

        <!--menu sous service -->
        <li class="treeview">
            <a href="">
                <i class="fa fa-edit"></i> <span>Sous service</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ path('sous_service_index') }}"><i class="fa fa-circle-o text-aqua"></i> Lister les sous services</a></li>
            </ul>
        </li>
        <!--/menu sous service-->
        <!--menu formation -->
        <li class="treeview">
            <a href="">
                <i class="fa fa-list"></i> <span>Formation</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ path('formation_index') }}"><i class="fa fa-circle-o text-aqua"></i> Lister les formations</a></li>
            </ul>
        </li>
        <!--/menu Formation-->
        <!--menu sous service -->
        <li class="treeview">
            <a href="">
                <i class="fa fa-calendar"></i> <span>Evènement</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ path('evenement_index') }}"><i class="fa fa-circle-o text-aqua"></i> Lister les Evènements</a></li>
            </ul>
        </li>
        <!--/menu sous service-->
        <!--/menu tableau de bord -->
    </ul>
</div>