{% extends "user/layoutadmin.html.twig" %}
{% block fos_user_content %}
{% block stylesheet %}
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="{{ asset('template/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('template/bower_components/font-awesome/css/font-awesome.min.css')}}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('template/bower_components/Ionicons/css/ionicons.min.css')}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('template/dist/css/AdminLTE.min.css')}}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('template/dist/css/skins/_all-skins.min.css')}}">
{% endblock %}
<div class="text-center">
    <a class='btn btn-primary btn-md center' href="{{ path('service_new') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter Service</a>
</div><br/>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Les Services</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Rechercher">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>

                    </div>

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>Image</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th class="text-center"><em class="glyphicon glyphicon-cog"></em></th>
                    </tr>
                    <tr>
                        {% for service in services %}
                    <tr class="ok">
                        <td><img src="{{asset('images/')}}{{ service.imageservice}}" style="width: 100px;height: 100px"></td>
                        <td class="col-sm-4">{{ service.libelleService }}</td>
                        <td class="col-sm-4">{{ service.descriptionService }}</td>
                        <td class="col-sm-4 text-center">
                            <a class='btn btn-info btn-sm' href="{{ path('service_show', { 'id': service.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Afficher</a>
                            <a class='btn btn-warning btn-sm' href="{{ path('service_edit', { 'id': service.id }) }}"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
                            <a class='btn btn-danger btn-sm' href="{{ path('service_delete', { 'id': service.id }) }}"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">{{ knp_pagination_render(services) }}</div>
        </div>
        </div>
        <!-- /.box -->
{% endblock %}